*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
    background-image: url(img/logo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: rgb(12, 71, 233);
    position: relative;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}
.logo{
    margin-left: 30px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3f3f3f;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    height: 60vh !important;
    background-size: cover;
    color: #171717;
    font-size: 60px; 
}
.title {
    margin-bottom: 7px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}
.btn:hover {
    background: none;
}
.btn-home{
    display: flex;
}
.btn-home a {
    margin: 0 10px;
}
.sau{
    padding: 30px;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box{
    height: auto;
    width: 90%;
    background: #f5f3f3;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem auto;
    padding: 20px;
    box-sizing: border-box;
}
@media (max-width: 768px){
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    .sou{
        height: 120vh;
    }

    .navbar{
        display: none;
    }
}
